.serv{
    height: 500px;
    width: 100%;
    /* background-color: blue; */
    background-image: url("../assets/serv1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;
    
}

.head5{
    position: absolute;
    color: white;
    bottom: 20%;
    left: 15%;
    font-size: 80px;
    font-family: sans-serif;
}

.head6{
    font-size: 50px;
}

.para4{
    font-size: 25px;
}

.card1{
    height: 120vh;
    /* margin: 20px */
    width: 99%;
    /* border: 1px solid black; */
    /* background-image: url(../assets/serv.jpg); */

    ul{
        display: grid;
        grid-template-columns: auto auto;
        padding: 2px;
        /* border: 2px solid black; */
        
        li, h2{
            padding: 2px;
        }
    }
}

.con{
    /* padding: 40px; */
    margin-left: 5%;
}

.serv-card{
    /* color: black; */
    height: 300px;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
     background-image: url(../assets/serv.jpg);
     /* opacity: 0.9 ; */
     background-position: center;
    
     font-size: 20px;
     font-family: sans-serif;
     transition: all 1s ease-out;
    
}

.serv-card:hover{
    transform:scale(1.1);
}