.full {
    height: 500px;
    width: 100%;
    /* background-color: blue; */
    background-image: url("../assets/abt.png");
    background-attachment: fixed;
    position: relative;
    
}

.full .scont{
    color: white;
    position: absolute;
    right: 23%;
    bottom: 20%;
    font-size: 30px;
    font-family: sans-serif;
}